.namebox{
    width: 100%;
    text-align: center;
    margin-top: 100px;
}
.namebox1{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 60%;
    text-align: center;
    margin: auto;
}
.namebox1-N{
    position: relative;
    width: 20%;
}
.namebox1-img{
    margin: 0px auto;
    position: relative;
}

.namebox1-img>img{
    width: 100%;
}
.namebox1-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}


h1{
    color: white;
}
h3{
    color: rgb(243, 184, 210);
}
h4{
    color: rgb(238, 226, 226);
    font-size: 12pt;
    font-style: italic;
}

.Mbox3{
    margin-bottom: 100px;
}

.Cbox2{
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 80px;
}

.Cbox1-three, .Cbox2-three{
    position: relative;
    width: 20%;
}
.Cbox1-img, .Cbox2-img{
    margin: 0px auto;
    position: relative;
}

.M-O2{
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}
.Cbox2-img:hover + .M-O2{
    display: block;
}


.Cbox1-img>img, .Cbox2-img>img{
    width: 100%;
}

.Cbox3 {
    width: 700px;
    height: 430px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
}
.Cbox3-text{
    text-align: left;
    position: relative;
    left: 320px;
    top: -10px;
}
.Cbox3-2-text{
    margin-top: 90px;
    margin-bottom: 80px;
}
#Cbox3-3{
    margin-top: 200px;
}

.Cbox3-img{
    position: relative;
    /* width: 80%;*/
    height: 100%;
    right: 90px;
}

.Cbox-Full, .Cbox-Full2{
    position: absolute;
    /* width: 100%; */
}

.Cbox-Full>img, .Cbox-Full2>img{
    /* width: 80%; */
    height: 550px;
}

.Cbox-Full2{
    transform: translate(-15%, 0%);
    /* width: 95%; */
}