#content{
    padding: 50px;
    padding-bottom: 0;
    text-align: center;
    }

#bigImages{
    margin-bottom: 30px;
    }
#big{
    /* width: 370px; */
    height: 370px;
    border-radius: 8px;
    outline : solid 8px rgb(251, 254, 255);
    }
.small{
    width: 200px;
    /* height: 150px; */
    opacity: 70%;
    border-radius: 10px;
    }
#smallImages{
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 50px;
}
#smallImages>img{
    margin: 5px;
}