*{
    margin: auto 0;
    padding: 0;
}

body {
    -ms-overflow-style: none;
    height:fit-content;
    background-color: rgba(0, 0, 0, 0.777);
}

img {
    vertical-align: bottom;
}

::-webkit-scrollbar {
    display: none;
}

.button{
    border: 0;
    outline: 0;
    list-style: none;

}

.top-nav{
        position: fixed;
        height: 20px;
        width: 100%;
        top: 0;
        display: flex;
        margin-top: 20px;
        justify-content: flex-end;
        z-index: 1001;
}

.nav-box{
    position: fixed;
    width: 100%;
    height: 150px;
    top: 0;
    background-color: rgba(0, 0, 0, 0.777);
    margin-top: -25px;
    z-index: 1000;
}

li{
    padding: 0.6rem;
    text-align: center;
}
a{
    color: white;
        text-decoration-line: none;
}
.lastBtn{
    margin-right: 55px;
}

.Hp{
    margin-top: 60px;
}

.user-wrap{
    position: relative;
    width: 100%;
    margin: 10px auto;
    text-align: center;
}

.Cover{
    position: relative;
}
.Cover > img {
    width: 100%;
    background: fixed;
}
.user-text{
    position: relative;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 100px;
    font-size: 20px;
    text-align: center;
    color: white;
}
.user-wrap > img{
    position: relative;
    width: 600px;
    margin-bottom: 200px;
}